<div flex flex-offset="15" layout="row" layout-align="space-around center">
  <div>
    <md-input-container>
      <label>Gamer Tag</label>
      <input type="text" ng-model="player.gamerTag"/>
    </md-input-container>
    <md-button ng-click="player.searchPlayer();">Search</md-button>
  </div>
  <div flex="50" layout="column">
    <md-card ng-if="player.searched">
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Player</span>
          <span class="md-subhead">{{player.gamerTag}}</span>
        </md-card-title-text>
        <md-card-title-media>
          <div class="md-media-sm card-media" style="background: #999999">
            <img ng-src="{{bungie.url + '/' + player.viewModel.currentPlayer.iconPath}}" />
          </div>
        </md-card-title-media>
      </md-card-title>

      <md-card-content>
        <md-progress-linear md-mode="indeterminate" ng-if="!player.viewModel.currentPlayer.characters"></md-progress-linear>
        <div ng-if="player.viewModel.currentPlayer.characters">
          <div>Clan: {{player.viewModel.currentPlayer.clanName}} ({{player.viewModel.currentPlayer.clanTag}})</div>
          <div>Grimoire: {{player.viewModel.currentPlayer.grimoireScore}}</div>
        </div>
        <md-list>
          <md-list-item class="md-2-line"
                        role="listitem"
                        ng-repeat="character in player.viewModel.currentPlayer.characters"
                        style="background-image:url({{bungie.url + '/' + character.backgroundPath}});">
            <img class="md-avatar" ng-src="{{bungie.url + '/' + character.emblemPath}}" />
            <div class="md-list-item-text layout-column" layout="column">

            </div>
          </md-list-item>
        </md-list>
      </md-card-content>
    </md-card>
  </div>
</div>
