<md-toolbar layout="row" layout-align="center center">

  <section flex layout="row" layout-align="left center">
    <md-button href="#/" class="md-raised">Home</md-button>
    <md-button href="#/player" class="md-raised">Player</md-button>
    <md-button href="#/clan" class="md-raised">Clan</md-button>
  </section>

  <md-button class="acme-navbar-text">DeStats</md-button>
</md-toolbar>
